* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gray {
  color: rgb(81, 81, 81);
}

.bold {
  font-weight: 600;
}

.flex {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#nav-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8%;
}

#nav-link ul {
  display: flex;
  gap: 20px;
}
#nav-link ul li {
  list-style: none;
}

#nav-link ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#nav-link ul li a:hover {
  text-decoration: underline;
}

#nav-btn button {
  padding: 10px;
  border: none;
  background-color: green;
  color: white;
  font-weight: 800;
  border-radius: 5px;
}

#nav-btn button:hover {
  transform: scale(1.1);
}

#hero {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 74px);
}

#hero h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
}

#hero .btn-1 {
  background-color: green;
  border: none;
}

#hero .btn-1:hover {
  box-shadow: 2px 2px 10px rgb(84, 84, 84);
  backdrop-filter: blur(200px);
}

#hero .btn-2 {
  border: 1px solid white;
  background-color: transparent;
}

#hero .btn-2:hover {
  box-shadow: 2px 2px 10px rgb(84, 84, 84);
  backdrop-filter: blur(200px);
}

#notes-section {
  padding: 5% 10%;
}

#notes-head {
  text-align: center;
}

#note-head h1 {
  font-weight: 600;
  margin-bottom: 15px;
}

#notes-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.card {
  width: 344px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 15vw;
  text-align: center;
  gap: 10px;
  padding: 40px 20px;
  background-color: beige;
  box-shadow: 5px 5px 20px rgb(206, 197, 197);
}
.card div {
  background-color: red;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#second-brain-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 0 10%;
}

.knowledge-img-container {
  width: 600px;
  height: 600px;
  box-shadow: 5px 5px 30px rgb(206, 197, 197);
}

#knowledge-img-container img {
  width: 100%;
  height: 100%;
}

#second-brain-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#second-brain-description ul {
  list-style: none;
  line-height: 2;
}

#early-access-section {
  margin: 5% 10%;
  background-color: beige;
  padding: 5%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  box-shadow: 5px 5px 30px rgb(206, 197, 197);
}

#early-access-section button {
  background-color: green;
  border: none;
}

#early-access-section button:hover {
  box-shadow: 2px 2px 10px rgb(84, 84, 84);
  backdrop-filter: blur(200px);
}

footer {
  background-color: #001931;
  padding: 1% 10%;
  color: #fff;
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

footer > div ul {
  list-style: none;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}

footer > p {
  border-top: 2px solid white;
  text-align: center;
  padding-top: 10px;
}
