* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gray {
  color: rgb(81, 81, 81);
}

.bold {
  font-weight: 600;
}

.flex {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#nav-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8%;
}

#nav-link ul {
  display: flex;
  gap: 20px;
}
#nav-link ul li {
  list-style: none;
}

#nav-link ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#nav-btn button {
  padding: 10px;
  border: none;
  background-color: green;
  color: white;
  font-weight: 800;
  border-radius: 5px;
}

#hero {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 74px);
}

#hero h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
}

#hero .btn-1 {
  background-color: green;
  border: none;
}

#hero .btn-2 {
  border: 1px solid white;
  background-color: transparent;
}

#feat-card-section {
  padding: 5% 10%;
}

#feat-head {
  text-align: center;
}

#feat-head h1 {
  font-weight: 600;
  margin-bottom: 15px;
}

#feat-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.card {
  width: 344px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 15vw;
  text-align: center;
  gap: 10px;
  padding: 40px 20px;
  background-color: beige;
}
.card div {
  background-color: red;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#solution-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 0 10%;
}

#knowledge-img {
  width: 600px;
  height: 600px;
}

#knowledge-img img {
  width: 100%;
  height: 100%;
}

#solution-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#solution-description ul {
  list-style: none;
  line-height: 2;
}

#solution-description h1 {
}

#think-section {
  margin: 5% 10%;
  background-color: beige;
  padding: 5%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

#think-section button {
  background-color: green;
  border: none;
}

footer {
  background-color: #001931;
  padding: 1% 10%;
  color: #fff;
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;
}

footer > div ul {
  list-style: none;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}

footer > p {
  border-top: 2px solid white;
  text-align: center;
  padding-top: 10px;
}
