* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#nav-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8%;
}

#nav-link ul {
  display: flex;
  gap: 20px;
}
#nav-link ul li {
  list-style: none;
}

#nav-link ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#nav-btn button {
  padding: 10px;
  border: none;
  background-color: green;
  color: white;
  font-weight: 800;
  border-radius: 5px;
}

#hero {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 74px);
}

#hero h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
}

#hero .btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
}

#hero .btn-1 {
  background-color: green;
  border: none;
}

#hero .btn-2 {
  border: 1px solid white;
  background-color: transparent;
}
